.filters {
    grid-area: b;

    display: grid;
    row-gap: 20px;
    border: 2px solid rgb(215, 212, 212);
    border-radius: 2%;
    padding: 10px;
    width: 300px;
    height: 400px;
    
    &.disabled{
        z-index: -10;
        opacity: .6;
            button {
            &.controlBttn {
                background-color: white;
                color: rgb(187, 187, 187);
            }
        }
    }
    &__colors {
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        grid-template-areas:
            "h h"
            "b b"
            "b b"
            "i i";

        grid-template-columns: repeat(2, 45%);
        grid-gap: 10px;
        column-gap: 10px;

        h2 {
            grid-area: h;
            margin: 0 auto;
            margin-bottom: -15px;
        }

        &-input {
            grid-area: i;
            display: grid;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            input {
                cursor: pointer;
            }

            .information {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;

                span {
                    font-size: 18px;
                }
            }
        }
    }

    &__rotateFlips {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        row-gap: 15px;
        text-align: center;


        .wrap {
            display: grid;
            -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
            grid-template-columns: repeat(4, 15%);
            grid-template-rows: 50%;

            button{
                width: 100%;
                height: 100%;
            }
        }


    }

    button {
        &.controlBttn {
            background-color: white;
            color: rgb(77, 77, 77);
            border: 1px solid rgba(177, 175, 175, 0.611);
            font-size: 16px;

            &:hover,
            &.active {
                background-color: rgb(23, 127, 196);
                color: white;
            }
        }

        &.transformBttn {
            background-color: white;
            border: 1px solid rgba(177, 175, 175, 0.611);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;

            &:hover {
                background-color: rgba(235, 234, 234, 0.611);
                border: none;
            }

            &:active {
                background-color: rgb(23, 127, 196);
                color: white;
            }

            &.left {
                background-image: url('../../assets/rotate_left.png');
            }

            &.right {
                background-image: url('../../assets/rotate_right.png');
            }

            &.vertical {
                background-image: url('../../assets/vertical.png');
            }

            &.horizontal {
                background-image: url('../../assets/horizontal.png');
            }
        }
    }
}
// @media (min-width: 1025px) {
//     .filters {
//         height: 600px;
//     }
// }
@media (max-width: 768px) {
    .filters {
        width: 100%;
        height: 280px;
        margin: 10px auto;
            &__colors {
                grid-template-columns: repeat(2, 40%);

                justify-content: space-around;
            }
            &__rotateFlips {
                .wrap {
                    grid-template-columns: repeat(4, 10%);
                    grid-template-rows: auto;
                }
            }
    }
}

